.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #516be1, #61358d);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-box {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  width: 100%;
  text-align: center;
}

.login-title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #8c0101;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s;
}

.login-form input:focus {
  border-color: #667eea;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #667eea;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #000000;
}

.login-footer {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.login-footer a {
  color: #667eea;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #516be1, #61358d);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-box{
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  width: 100%;
  text-align: center;
}

.signup-title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #8c0101;
}

.signup-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s;
}

.signup-form input:focus {
  border-color: #667eea;
  outline: none;
}

.signup-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #667eea;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.signup-form button:hover {
  background-color: #000000;
}

.signup-footer {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-footer a {
  color: #667eea;
  text-decoration: none;
}

.signup-footer a:hover {
  text-decoration: underline;
}